#title{
	text-align:center;
	color: white;
}
#description{
	margin:0 auto;
	width:600px;
	font-size:25px;
	font-weight: bolder;
}
#game-buttons{
	width:500px;
	margin:20px auto;
}
#button{
	font-size:30px;
	margin-left: 180px;
}
#button:hover{
	color: white;
	background-color: black;
}
#button1{
	font-size:30px;
	margin-left: 180px;
	margin-top: 20px;
}
#button1:hover{
	color: white;
	background-color: black;
}
#parachute{
	position: relative;
	top: 440px;
	height: 50px;
	left: -10px;	
}
#inventory-item{
	position: relative;
	top: 400px;
	height: 0px;
}
#troll{
	position: sticky;
	top: 300px;
	height: 40px;
	left: 700px;
}
#doekje{
	position: relative;
	top: 430px;
	height: 50px;
}
#text{
	position: relative;
	margin:0 auto;
	width:600px;
	font-size:25px;
	font-weight: bolder;
	color: white;
}
#button2{
	font-size:30px;
	margin-left: 180px;
}
#mes{
	position: relative;
	top: 505px;
	height: 50px;
	left: 1380px;
}
#text1{
	position: relative;
	margin:0 auto;
	width:600px;
	font-size:25px;
	font-weight: bolder;
	color: white;
}
#doekje1{
	position: relative;
	top: 430px;
	height: 50px;
}
#dagger{
	position: relative;
	top: 450px;
	height: 90px;
	left: 1380px;
}

#gif{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
body {
	margin: 0;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
}
html {
	height: 100%;
}
#scorp{
	position: relative;
	top: 100px;
	height: 300px;
	width: 300px;
	left: 20px;
}